*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

nav {
    display:flex;
    /* justify-content: space-between; */
    padding:5px;
    border: 1px solid red;
    background-color: rgb(0, 0, 0);
 
}

.logo h1 {
    font-weight: bold;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 1rem;
    padding: 3rem;
    
    
   
}
.logo img {
    width: 250px;
    margin-left: 6rem;
    
  
}

.menu {
    margin:3rem;
    display:flex;
    list-style: none;
    align-items: center;
}
.menu li {
    margin-left: 1rem;

}
.menu li a {
    display: flex;
    color: rgb(243, 250, 250);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.banner{
    background-color: brown;
    color: aliceblue;
    height: 450px;
    display: flex;
    justify-content: center; /* จัดกึ่งกลางใช้คู่กัน */
    align-items: center;
}
.banner-info {
    text-align: center;
}
.banner-info img{
 
    width: 450px;
    margin: 3rem;

}
.box{
    margin: 3rem;
}
.box h1{
    margin-left: 3rem;
    font-size: 2rem;
}
main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: brown;
}
main div{
    padding: 60px;
}
main div p {
    margin-top: 15px;
}
main div h3{
    margin-bottom: 15px;
    text-align: center;
    color: aliceblue;
}
main img{
    width:100%;
    border-radius: 20px;
}


footer{
    background-color: rgb(31, 31, 31);
    color:beige;
    padding:20px;
    text-align: center;
}

.blog-bth{
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
    color: beige;
    background-color: orange;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}